name: Band Color Convention Workflow

on:
  push:
    branches:
      - main
    paths:
      - 'BandColorConvention/BandColorConvention.xlsx'
      - '.github/workflows/band-color-convention-workflow.yml'

env:
  ABSOLUTE_EXCEL_FILE_PATH: '' # These will get set in a later step
  ABSOLUTE_PNG_FILE_PATH: '' # These will get set in a later step

  EXCEL_TARGET_SHEET: 'Document Style'
  SPLIT_FIRST_CELL: 'A1'
  SPLIT_LAST_CELL: 'E6'

jobs:
  postsaveworkflow:
    name: Export image from Excel spreadsheet
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Absolute Path - ${{ vars.BAND_COLOR_CONVENTION_XLSX_PATH }}
        run: pwsh .github/workflows/lib/Set-Absolute-Path-Variable.ps1 -BasePath "${{ github.workspace }}" -RelativePath "${{ vars.BAND_COLOR_CONVENTION_XLSX_PATH }}" -VariableName "ABSOLUTE_EXCEL_FILE_PATH"

      - name: Set Absolute Path - ${{ vars.BAND_COLOR_CONVENTION_PNG_PATH }}
        run: pwsh .github/workflows/lib/Set-Absolute-Path-Variable.ps1 -BasePath "${{ github.workspace }}" -RelativePath "${{ vars.BAND_COLOR_CONVENTION_PNG_PATH }}" -VariableName "ABSOLUTE_PNG_FILE_PATH"

      - name: Install Office
        run: choco install office365business --params "'/productid:O365HomePremRetail /exclude:Access Groove Lync OneDrive OneNote Outlook Publisher Word Powerpoint /updates:FALSE /eula:TRUE'"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.3'

      - name: Install Python dependencies
        run: pip install pywin32 ImageGrab pillow excel2img

      - name: Export PNG from Excel
        run: python .github/workflows/lib/export-png.py "${{ env.ABSOLUTE_EXCEL_FILE_PATH }}" "${{ env.ABSOLUTE_PNG_FILE_PATH }}" "${{ env.EXCEL_TARGET_SHEET }}" "${{ env.SPLIT_FIRST_CELL}}" "${{ env.SPLIT_LAST_CELL}}"

      - name: Commit files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Automatically uploaded '${{ vars.BAND_COLOR_CONVENTION_PNG_PATH }}'
          commit_user_name: ${{ vars.COMMIT_USER_NAME }}
          commit_user_email: ${{ vars.COMMIT_USER_EMAIL }}
          commit_author: ${{ vars.COMMIT_AUTHOR }}
          push_options: '--force'
