name: Complete Technical Documentation PDF Workflow

on:
  workflow_run:
    workflows: [Rider Workflow, Excel to PNG & PDF Workflow, Draw.io to PNG & PDF Workflow]
    types: [completed]

env:
  TITLE: The Perfect Strangers - Technical Documentation
  AUTHOR: Chad Birch (chad@theperfectstrangers.band)
  SUBJECT: Rider, Input Lists, and Stage Diagram for The Perfect Strangers

  ABSOLUTE_OUTPUT_PATH_PDF: '' # These will get set in a later step
  ABSOLUTE_PATH_TO_RIDER_PDF: '' # These will get set in a later step
  ABSOLUTE_PATH_TO_STAGE_DIAGRAM_PDF: '' # These will get set in a later step
  ABSOLUTE_PATH_TO_INPUT_LIST_PDF: '' # These will get set in a later step

jobs:
  on-success:
    name: Merge PDFs
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.3'

      - name: Install Python dependencies
        run: pip install pdfrw

      - name: Set Absolute Path - ${{ vars.COMPLETE_TECHNICAL_DOCUMENTATION_PDF_PATH }}
        run: pwsh .github/workflows/lib/Set-Absolute-Path-Variable.ps1 -BasePath "${{ github.workspace }}" -RelativePath "${{ vars.COMPLETE_TECHNICAL_DOCUMENTATION_PDF_PATH }}" -VariableName "ABSOLUTE_OUTPUT_PATH_PDF"

      - name: Set Absolute Path - ${{ vars.RIDER_PDF_PATH }}
        run: pwsh .github/workflows/lib/Set-Absolute-Path-Variable.ps1 -BasePath "${{ github.workspace }}" -RelativePath "${{ vars.RIDER_PDF_PATH }}" -VariableName "ABSOLUTE_PATH_TO_RIDER_PDF"

      - name: Set Absolute Path - ${{ vars.STAGE_DIAGRAM_PDF_PATH }}
        run: pwsh .github/workflows/lib/Set-Absolute-Path-Variable.ps1 -BasePath "${{ github.workspace }}" -RelativePath "${{ vars.STAGE_DIAGRAM_PDF_PATH }}" -VariableName "ABSOLUTE_PATH_TO_STAGE_DIAGRAM_PDF"

      - name: Set Absolute Path - ${{ vars.FULL_BAND_INPUT_LIST_PDF_PATH }}
        run: pwsh .github/workflows/lib/Set-Absolute-Path-Variable.ps1 -BasePath "${{ github.workspace }}" -RelativePath "${{ vars.FULL_BAND_INPUT_LIST_PDF_PATH }}" -VariableName "ABSOLUTE_PATH_TO_INPUT_LIST_PDF"

      - name: Export PNG from Excel
        run: python .github/workflows/lib/combine-pdfs.py "${{ env.ABSOLUTE_OUTPUT_PATH_PDF }}" "${{ env.TITLE }}" "${{ env.AUTHOR }}" "${{ env.SUBJECT }}" "${{ env.ABSOLUTE_PATH_TO_RIDER_PDF }}" "${{ env.ABSOLUTE_PATH_TO_STAGE_DIAGRAM_PDF }}" "${{ env.ABSOLUTE_PATH_TO_INPUT_LIST_PDF }}"

      - name: Commit changes to repo
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Automatically uploaded '${{ env.ABSOLUTE_OUTPUT_PATH_PDF }}'
          commit_user_name: ${{ vars.COMMIT_USER_NAME }}
          commit_user_email: ${{ vars.COMMIT_USER_EMAIL }}
          commit_author: ${{ vars.COMMIT_AUTHOR }}
          push_options: '--force'
