name: Full Band/Split Map Workflow

on:
  push:
    branches:
      - not-main

    paths:
      - 'Input List/Full Band/Split Map.xlsx'
      - '.github/workflows/full-band-split-map-workflow.yml'

env:
  ABSOLUTE_EXCEL_FILE_PATH: '' # These will get set in a later step
  ABSOLUTE_PDF_FILE_PATH: '' # These will get set in a later step
  ABSOLUTE_PNG_FILE_PATH: '' # These will get set in a later step

  SPLIT_SHEET: 'Split Map'
  SPLIT_FIRST_CELL: 'A1'
  SPLIT_LAST_CELL: 'Q8'

jobs:
  postsaveworkflow:
    name: Export image from Excel spreadsheet
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Absolute Path - ${{ vars.FULL_BAND_SPLIT_MAP_XLSX_PATH }}
        run: pwsh .github/workflows/lib/Set-Absolute-Path-Variable.ps1 -BasePath "${{ github.workspace }}" -RelativePath "${{ vars.FULL_BAND_SPLIT_MAP_XLSX_PATH }}" -VariableName "ABSOLUTE_EXCEL_FILE_PATH"

      - name: Set Absolute Path - ${{ vars.FULL_BAND_SPLIT_MAP_XLSX_PATH }}
        run: pwsh .github/workflows/lib/Set-Absolute-Path-Variable.ps1 -BasePath "${{ github.workspace }}" -RelativePath "${{ vars.FULL_BAND_SPLIT_MAP_PNG_PATH }}" -VariableName "ABSOLUTE_PNG_FILE_PATH"

      - name: Set Absolute Path - ${{ vars.FULL_BAND_SPLIT_MAP_PDF_PATH }}
        run: pwsh .github/workflows/lib/Set-Absolute-Path-Variable.ps1 -BasePath "${{ github.workspace }}" -RelativePath "${{ vars.FULL_BAND_SPLIT_MAP_PDF_PATH }}" -VariableName "ABSOLUTE_PDF_FILE_PATH"

      - name: Install Office
        run: choco install office365business --params "'/productid:O365HomePremRetail /exclude:Access Groove Lync OneDrive OneNote Outlook Publisher Word Powerpoint /updates:FALSE /eula:TRUE'"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.3'

      - name: Install Python dependencies
        run: pip install pywin32 ImageGrab pillow

      - name: Export PNG from Excel
        run: python .github/workflows/lib/export-png.py "${{ env.ABSOLUTE_EXCEL_FILE_PATH }}" "${{ env.ABSOLUTE_PNG_FILE_PATH }}" "${{ env.SPLIT_SHEET }}" "${{ env.SPLIT_FIRST_CELL}}" "${{ env.SPLIT_LAST_CELL}}"

      - name: Export PDF from Excel
        run: python .github/workflows/lib/export-pdf.py "${{ env.ABSOLUTE_EXCEL_FILE_PATH }}" "${{ env.ABSOLUTE_PDF_FILE_PATH }}"

      - name: Commit files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Automatically uploaded '${{ vars.FULL_BAND_SPLIT_MAP_PDF_PATH }}'
          commit_user_name: ${{ vars.COMMIT_USER_NAME }}
          commit_user_email: ${{ vars.COMMIT_USER_EMAIL }}
          commit_author: ${{ vars.COMMIT_AUTHOR }}
          push_options: '--force'
